<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sidebar</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
   <div class="dashboard-wrp">
      <div class="page-cont-wrp">
         <div class="page-body">
            <div class="container-fluid">
               <div class="row ">
                  <div class="profile-sec">
                     <div class="top-head">
                        Change Password
                     </div>
                     <div class="profile-inner">
                        <div class="change-password-fields col-md-12">
                           <div class="lead-form">
                              <form [formGroup]="addForm">
                                 <div class="mb ">
                                    <div class="permInputs row ">

                                       <div class="col">
                                          <div class="form-floating desc-inp d-flex align-items-center">
                                             <input required [type]="hidecurrentpassword?'password':'text'"
                                                class="form-control" id="floatingName"
                                                formControlName="currentPassword">

                                                <span class="error-txt form-error"
                                                *ngIf="addForm.get('currentPassword')?.dirty && addForm.get('currentPassword')?.hasError('required')"
                                                style="color: red;font-size: 11px;">*Please enter your Current
                                                password</span>

                                                <img [hidden]="!hidecurrentpassword" class="eye-icon ml-1" src="../../assets/img/eye.svg" alt="" (click)="togglePassword()">
                                                <img [hidden]="hidecurrentpassword" class="eye-icon show ml-1" src="../../assets/img/eye-circle.svg" alt="" (click)="togglePassword()">

                                             <label for="floatingInput">Old password</label>
                                          </div>
                                       </div>


                                       <div class="col">
                                          <div class="form-floating desc-inp d-flex align-items-center">
                                             <input required [type]="hideNewpassword?'password':'text'" class="form-control" id="floatingDesc"
                                                formControlName="newPassword">

                                             <span class="error-txt form-error"
                                                *ngIf="addForm.get('newPassword')?.dirty && addForm.get('newPassword')?.hasError('required')"
                                                style="color: red;font-size: 11px;">*Please enter your New
                                                password</span>

                                             <span class="error-txt form-error" style="color: red;font-size: 11px;"
                                                *ngIf="addForm.get('newPassword')?.hasError && !addForm.get('newPassword')?.hasError('required') && addForm.get('newPassword')?.invalid">
                                                *Password must be atleast 8 characters long</span>

                                                <img [hidden]="!hideNewpassword" class="eye-icon ml-1" src="../../assets/img/eye.svg" alt="" (click)="togglePassword2()">
                                                <img [hidden]="hideNewpassword" class="eye-icon show ml-1" src="../../assets/img/eye-circle.svg" alt="" (click)="togglePassword2()">

                                             <label for="floatingPassword">New Password</label>
                                          </div>
                                       </div>

                                       <div class="col">
                                          <div class="form-floating desc-inp d-flex align-items-center">
                                             <input required [type]="hideConfirmpassword?'password':'text'" class="form-control" id="floatingDesc"
                                                formControlName="confirmPassword">

                                             <span class="error-txt form-error"
                                                *ngIf="addForm.get('confirmPassword')?.dirty && addForm.get('confirmPassword')?.hasError('required')"
                                                style="color: red;font-size: 11px;">
                                                *Please confirm your New password
                                             </span>

                                             <span class="error-txt form-error" style="color: red;font-size: 11px;"
                                                *ngIf="addForm.get('confirmPassword')?.dirty && addForm.get('confirmPassword')?.value && addForm.get('confirmPassword')?.value !== addForm.get('newPassword')?.value">
                                                *New password and confirm password do not match
                                             </span>

                                             <img [hidden]="!hideConfirmpassword" class="eye-icon ml-1" src="../../assets/img/eye.svg" alt="" (click)="togglePassword3()">
                                             <img [hidden]="hideConfirmpassword" class="eye-icon show ml-1" src="../../assets/img/eye-circle.svg" alt="" (click)="togglePassword3()">

                                             <label for="floatingPassword">Re-enter the new password</label>
                                          </div>
                                       </div>

                                    </div>
                                 </div>
                                 <div class="two-btn chg-pwd">
                                    <button type="submit" class="btn btn-outline" (click)="cancel()">Cancel</button>
                                    <button type="submit" class="save btn-common green-btn"
                                       (click)="changePassword()">Submit</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
   integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>