<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>MILITARY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- {{loginForm.value | json}} -->
    <section class="login-wrp">
        <div class="inner-blks bg-left">
            <div class="inner-wrp">
                <!-- <div class="logo">
                    <img src="img/logo-white.svg" alt="logo">
                </div> -->
                <div class="desc-area">
                    <div class="title">
                        Lorem Ipsum<br> Simply Dummy Text
                    </div>
                    <div class="txt-blk">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-blks">
            <div class="form-area login">
                <div class="logo">
                    <img class="form-logo" src="../../assets/img/logo.png" alt="logo">
                </div>
                <div class="form-title">
                    Login
                </div>
                <form [formGroup]="loginForm">
                    <div class="inp-wrp">
                        <span class="inp_ico">
                            <img src="../../assets/img/icon-mail.svg" alt="usr name">
                        </span>
                        <input required formControlName="email" name="email" type="text" class="form-control username"
                            placeholder="User name">
                        <span class="error-txt form-error" style="color: red;font-size: 13px;"
                            *ngIf="loginForm.get('email')?.hasError && !loginForm.get('email')?.hasError('required') && loginForm.get('email')?.invalid">
                            *Please enter a valid Email.</span>
                        <span class="error-txt form-error" style="color: red;font-size: 13px;"
                            *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.hasError('required')">Email
                            is required</span>
                    </div>

                    <div class="inp-wrp mb-3">
                        <span class="inp_ico">
                            <img src="../../assets/img/icon-lock.svg" alt="pw">
                        </span>

                        <input required formControlName="password" name="password"
                            [type]="hidepassword?'password':'text'" class="form-control passw" placeholder="Password">
                        <span class="error-txt form-error"
                            *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('invalidPassword') && !loginForm.get('password')?.hasError('required')">*Invalid
                            Password</span>
                        <span class="error-txt form-error"
                            *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('required')"
                            style="color: red;font-size: 13px;">Password is required</span>

                        <button [hidden]="!hidepassword" class="eye-icon"><img src="../../assets/img/eye.svg" alt=""
                                (click)="togglePassword()"></button>
                        <button [hidden]="hidepassword" class="eye-icon show"><img src="../../assets/img/eye-circle.svg"
                                alt="" (click)="togglePassword()"></button>
                    </div>

                    <a href="#" class="forgotpw">Forgot Password ?</a>

                    <div class="inp-wrp">
                        <button class="btn btn-primary btn-login" [disabled]="loginForm.invalid" (click)="logging()">
                            LOGIN
                        </button>
                    </div>

                    <!-- <div class="inp-wrp mb-0">
                        <button class="btn btn-outline  btn-login">
                            <span class="pe-2"><img src="img/google-logo.png" alt=""></span>
                            <span>LOGIN WITH GOOGLE</span>
                        </button>
                    </div> -->

                    <!-- <span class="error-txt login-form-error">Invalid</span> -->
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
        integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>